/* CCS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MAIN CONTAINER */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 134, 168);
}
/* CAROUSEL */
.slider{
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    position: relative;
}
.slide{
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.5s;
    overflow: hidden;
}
.slide.active{
    opacity: 1;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ARROWS */
.arrow{
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.5);
    padding: 5px 15px;
    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.arrow:hover{
    background-color: black;
}
.arrow.prev{
    left: 20px;
}
.arrow.next{
    right: 20px;
}